@import "bootstrap/variables";
@import "bootstrap";
@import "bootstrap/bootswatch";
@import "./components/landing-page";
@import "./components/question-video";

body {
  padding-top: 50px;
}

.question-link {
  margin-left: 0;
  margin-right: 0;
}

.youtube-player-sizer {
  width: 888px;
  height: 500px;
  margin: 20px auto;
}

.series-thumbnail {
  object-fit: cover;
  width: 450px;
  height: 200px;
}