<h1 class="page-header">Questions in searchable form</h1>
<div class="form-group">
  {{input value=query class="form-control input-lg" placeholder="What do you want to look for?"}}
</div>

<div class="list-group">
  {{#each questions as |question|}}
    {{#link-to 'questions.video' question.batch.videoId (query-params time=question.time autoplay=1) class="list-group-item row question-link"}}
      <div class="col-md-10">
        {{question.question}}
      </div>
      <div class="col-md-2 text-right">
        {{moment-format question.batch.publishedAt 'l'}}
        <i class="glyphicon glyphicon-play-circle"></i>
      </div>
    {{/link-to}}
  {{/each}}
</div>
