<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Accursed Farms Hub</h1>
          <h3>An <i>unofficial</i> aggregation website for Accursed Farms</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="http://www.accursedfarms.com/" class="btn btn-default btn-md">
                <span class="network-name">Accursed Farms</span>
              </a>
            </li>
            <li>
              {{#link-to 'news' class='btn btn-success btn-lg'}}
                <span class="network-name">Enter</span>
              {{/link-to}}
            </li>
            <li>
              <a href="https://github.com/accursedfarms/hub" class="btn btn-default btn-md">
                <span class="network-name">Help improve</span>
              </a>
            </li>
          </ul>
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://www.reddit.com/r/accursedfarms/" class="btn btn-default btn-md">
                <span class="network-name">Reddit</span>
              </a>
            </li>
            <li>
              <a href="http://www.accursedfarms.com/forums/viewtopic.php?t=8488" class="btn btn-default btn-md">
                <span class="network-name">Forum</span>
              </a>
            </li>
            <li>
              <a href="http://www.accursedfarms.com/forums/viewtopic.php?t=8488" class="btn btn-default btn-md">
                <span class="network-name">Twitter</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
