<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Youtube playlist
        <small></small>
      </h1>
    </div>
  </div>

  {{#each model as |series|}}
    <div class="row">
      <div class="col-md-7">
        {{#link-to 'series' series}}
          <img class="img-responsive" src={{series.thumbnail}}>
        {{/link-to}}
      </div>
      <div class="col-md-5">
        <h3>{{series.name}}</h3>
        <p>{{series.description}}</p>
        {{#link-to 'series' series}}
          View Series <span class="glyphicon glyphicon-chevron-right"></span>
        {{/link-to}}
      </div>
    </div>
    <hr>
  {{/each}}
</div>
